.loyaut{
    padding: 32px 12px;
    width: 1116px;
}
.layout .containers{
    display: flex;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: 32px;
    width: 1116px;
}
.header {
    position: sticky;
    top: 32px; /* Stick the header to the top of the viewport */
    border-radius: 20px;
    /* Semi Dark Blue */
    background: rgb(22, 29, 47);
    width: 96px;
    height: 960px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 18px;
  }
  
.header .nav{
    display: flex;
    flex-flow: column;
    align-items:center;
    gap: 70px;    
}
.header .nav .list-group{
    list-style-type: none;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.body-section {
    padding-left: 36px;
    padding-top: 30px;
}
.body-section img{
    width: 24px;
    height: 24px;
}
.main-section{
    width: 1116px;
}
.main-section .cardWrapper{
    width: 1116px;
}
.main-section .cards-wrapper{
    width: 1116px;
    padding-right: 20px;
}
.body-section .search{
    margin-bottom: 30px;
}
.body-section .searching{
    display: flex;
    align-items:center;
    gap: 20px;
}
.body-section .searching input{
    cursor: pointer;
    width: 94%;
    padding: 8px 0;
    background:transparent;
    border: none;
    outline: none;
    color:white;
    border-bottom: 1px solid rgb(90, 105, 143);
}
.header .nav ul li a{
    opacity: 0.5;
}
.header .nav ul li a:hover{
    color:red;
}

.header .nav ul li a.active {
        pointer-events: none;
        cursor: default;
        opacity: 1;
  }